form {
  max-width: 60%;
}

body {
  display: flex;
  justify-content: center;
}

#fieldset-cliente {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  margin-bottom: 20px;
}

#cpf {
  max-width: 20%;
}

#fieldset-endereco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  /* max-width: 50%; */
}

#cep{
  max-width: 20%;
}

#uf{
  max-width: 10%;
}
#div-complemento {
  display: flex;

}
#div-cep, #div-lougradouro, #div-numero, #complemento-container, #div-bairro{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#complemento-container{
  width: 100%;

}

#numero{
  width:65%;
}
